<div class="container-fluid">
  <footer class="footer">
    created by <b>vikram</b>
    <div class="row">
        <div class="col-md-4 textAlignLeft">
          <div class="paddingTop20">
            <ul>
              <li>Create Profile</li>
              <li>Update Profile</li>
              <li>Delete Profile</li>
              <li>View Profile</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 textAlignLeft">
          <div class="paddingTop20">
            <ul>
              <li>Login</li>
              <li>Register</li>
              <li>My Profile</li>
              <li>View Profile</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 textAlignLeft">
          <div class="paddingTop20">
            <div>
              <div class="row">
                <div>
                  <strong>Mobile : &nbsp;</strong>
                </div>
                <div>
                  <p>
                    8123212401
                  </p>
                  <p>
                    8123212401
                  </p>
                </div>
              </div>
              <div class="row">
                <div>
                  <strong>Email : &nbsp;</strong>
                </div>
                <div>
                  <p>
                    vikram.kumar2013@gmail.com
                  </p>
                  <p>
                    vikramku.mahto2015@gmail.com
                  </p>
                </div>
              </div>
              <div class="row">
                <div>
                  <strong>Social Media : &nbsp;&nbsp;</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>
</div>
