.footer{
  /* margin-top: 750px;  */
//  position: fixed;
 left: 0;
 bottom: 0px;;
 width: 100%;
 height: auto;
 background-color: darkgray;
 color: whitesmoke;
 text-align: center;
 vertical-align: middle;
 align-items: center;
 align-content: center
}

.textAlignLeft{
  text-align: initial;
}
ul{
  list-style: "→" outside none
}

ul li{
  padding-left: 10px;
}
