<div class="container">
  <form>
    <div class="card">
      <div class="card-header">Registration Form</div>
      <div class="card-body">
        <div>
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Middle Name" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Alternate Email</mat-label>
            <input matInput placeholder="Alternate Email" >
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>>
